<!-- <table id="table">
  <tr>
    <th>כיתה</th>
    <th>כסף נוכחי</th>
    <th>מחנכת</th>
    <th>שכבה(במספר)</th>
  </tr>
  <tr *ngFor="let class of classes$ | async">
    <td>{{ class.name }}</td>
    <td>{{ class.currentCurrency }}</td>
    <td>{{ class.teacher }}</td>
    <td>{{ class.level }}</td>
  </tr>
  <tr>
    <th><input type="text" [(ngModel)]="newClass.name" name="name" class="form-control" /></th>
    <th><input type="text" [(ngModel)]="newClass.currentCurrency" name="currentCurrency" class="form-control" /></th>
    <th><input type="text" [(ngModel)]="newClass.teacher" name="teacher" class="form-control" /></th>
    <th><input type="text" [(ngModel)]="newClass.level" name="level" class="form-control" /></th>
  </tr>
</table>

<button class="button" (click)="updateInsertClass()">הוסף \ עדכן כיתה</button> -->

