@import "../home/landing-page/landing-page.component.css";

body {
    margin-top: 20px;
    background: #eee;
}

.flex-container {
    padding-top: -10px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    gap: 20px;
    height: 50%;
}

.gray-body {
    background-color: #f8f9fe;
    padding: 20px;
}

.flex-header-item {
    flex-grow: 1;
    background-color: rgb(61, 191, 223);
    /* background-color: #f2f5f8; */
    border-radius: 8px;
    gap: 10px;
    text-align: center;
    justify-content: center;
    margin-top: 0%;
    margin-right: 20px;
    margin-left: 20px;
    z-index: 2;
    border: 3px solid #ffffff;
    /* Add a 2-pixel white border */
}


.flex-item {
    flex-grow: 1;
    flex: 1;
    background-color: rgb(255, 255, 255);
    color: white;
    font-size: 200%;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    /* margin-right: 20px;
    margin-left: 20px; */
    z-index: 2;
    border: 3px solid #ffffff;
    /* Add a 2-pixel white border */
}

@font-face {
    font-family: 'header';
    src: url('../../../assets/Suez_One/SuezOne-Regular.ttf') format('truetype');
    /* Add more src lines for other font formats (e.g. woff, woff2, svg) */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sub-title';
    src: url('../../../assets/Varela_Round/VarelaRound-Regular.ttf') format('truetype');
    /* Add more src lines for other font formats (e.g. woff, woff2, svg) */
    font-weight: normal;
    font-style: normal;
}
.my-bottom-sheet .mat-bottom-sheet-container {
    padding: 0;
  }

.pointer{
    cursor: pointer;
}

.left-border {
    border: #000000;
    /* border-left: 3px solid #dfdfdf; */
    /* border-style: solid; */
    border-radius: 0 5px 5px 0;
    /* add a rounded edge to the border */
}
.padding{
    padding-top: 5px;
}
.centered {
    text-align: center;
}

.flex1-item {
    flex: 1;
    flex-grow: 1;
    justify-content: right;

}

.flex2-item {
    flex: 2;
    flex-grow: 2;
    justify-content: right;
    padding: 10px;
}

.flex3-item {
    flex: 3;
    flex-grow: 3;
    justify-content: right;
    padding: 10px;
}

.flex5-item {
    flex: 5;
    flex-grow: 5;
}

.menu {
    padding-top: auto;
    padding-bottom: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.f-container {
    display: flex;
}

.text-danger,
.text-red {
    color: #ff5b57 !important;
}

.telegramColor2 {
    background: #1CD8D2;
    background: -webkit-linear-gradient(to right, #93EDC7, #1CD8D2);
    background: linear-gradient(to right, #93EDC7, #1CD8D2);
}

.header {
    /* height: 220px; */
    color: white;
    padding-top: 1%;
    /* padding-left: 46%;
    padding-right: 46%; */
    text-align: right;
    justify-content: right;
}

.colored-box-container {
    overflow: hidden;
    height: 100%;
}

.img-left {
    padding: 3px;
    float: left;
    margin-right: 10px;
    /* Adjust this as needed */
}

.text-right {
    float: right;
}


.telegramColor {
    background: #1CD8D2;
    background: -webkit-linear-gradient(to right, #93EDC7, #1CD8D2);
    background: linear-gradient(to right, #93EDC7, #1CD8D2);
    height: 220px;
    color: white;
    padding-top: 1%;
    /* padding-left: 46%;
    padding-right: 46%; */
    text-align: center;
    justify-content: center;
}

:root {
    --redSchool: #db534f;
    --greenSchool: #44a79a;
}

.first-cube-row {
    height: 15%;
}

.redItem {
    background-color: #db534f;
}

.greenItem {
    background-color: #44a79a;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    /* Add a 2-pixel white border */
    margin-right: 0;
    margin: auto;
    background-color: rgba(3, 3, 3, 0.2);
}

.center {
    width: 100%;
    text-align: center;
    justify-content: center;
}

.profilePic {
    border: 3px solid #fff;
    border-radius: 50%
}

.dashboard-data-title{
    margin: 2px;
    color:#6d767f;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #efefef;
    margin-bottom: 5px;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.top {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;

}