<!-- <section id="hero" dir="rtl">
    <header id="header" class="d-flex align-items-center header-transparent">
      <div class="container d-flex justify-content-between align-items-center">
        <div id="logo">
          <h1><a href="index.html">שם הכיתה</a></h1>
        </div>
  
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="/">ראשי</a></li>
            <li><a class="nav-link scrollto" href="#about">פרסים</a></li>
            <li>
              <a class="nav-link scrollto" >הכיתה שלי</a
              >
            </li>
          </ul> 
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>
    <div class="hero-text" data-aos="zoom-out"> -->
        <!-- <app-chart [graphValues]="classCurrencyHistory" label="יום" [classId]="classId"></app-chart> -->
    <!-- </div>
  </section> -->